.footer__column-links {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 16px;
  list-style-type: none;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  transition: opacity 1s linear;
}

.footer__column-link:hover {
  opacity: .3;
}

.footer__social-icon {
  transition: opacity 1s linear;
}

.footer__social-icon:hover {
  opacity: .3;
}
